.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MyHeader {
  background-color: #496aab;
  color: rgb(255, 255, 255);
  text-align: center;
}

.MyFooter {
  background-color: rgb(106, 106, 106);
  color: white;
  text-align: center;
}

.MyContent{
  text-align: center;
  font-size: larger;
  padding: 2em;
  margin-bottom: 1em;
  border-radius: 15px;
  border: 2px solid;
}